<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style_form.css">
    <title>Gift Recommendation System</title>
</head>
<body>
    <div class="form-container">
        <h1>Gift Recommendation Form</h1>
        <form action="/recommend" method="POST">
            <!-- Recipient Type -->
            <label for="recipient">To whom are you gifting?</label>
            <select id="recipient" name="recipient" required>
                <option value="" disabled selected>Select an option</option>
                <option value="wife / lady /woman / girl / person">Wife</option>
                <option value="daughter / lady / woman / girl/ person">Daughter</option>
                <option value="son / man / boy / guy / person">Son</option>
                <option value="friend / man / lady / woman / boy / guy / girl / person">Friend</option>
                <option value="colleague / man / lady / woman / boy / guy / girl / person">Colleague</option>
                <option value="dog / pet">Dog</option>
                <option value="cat / pet">Cat</option>
            </select>

            <!-- Food Preference -->
            <label>Do you prefer vegetarian / non-vegetarian / vegan?</label>
            <div class="radio-group">
                <label><input type="radio" name="food_preference" value="vegetarian" required> Vegetarian</label>
                <label><input type="radio" name="food_preference" value="non-vegetarian" required> Non-Vegetarian</label>
                <label><input type="radio" name="food_preference" value="vegan" required> Vegan </label>
            </div>

            <!-- Taste of the Recipient -->
            <label for="taste">What their tastebuds want?</label>
            <select id="taste" name="taste">
                <option value="" disabled selected>Select an option</option>
                <option value="sweet / dessert">Sweet</option>
                <option value="sour / lemon / citric">Sour</option>
                <option value="spicy / chilly">Spicy</option>
                <option value="salty / tasty">Salty</option>
                <option value="bitter">Bitter</option>
                <option value="umami / meaty / fleshy">Umami</option>
            </select>

            <!-- Occasion -->
            <label for="occasion">What's the occasion? (optional)</label>
            <input type="text" id="occasion" name="occasion" placeholder="e.g., Birthday, Anniversary">

            <button type="submit">Get Recommendations</button>
        </form>
    </div>
</body>
</html>