<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style_recommend.css">
    <title>Gift Recommendation System</title>
</head>
<body>
    <h1>Recommended Gifts for You</h1>
    <div class="container">
        {% for product in products %}
        <div class="product-box">
            <img class="product-image" src="{{ product.image }}" alt="{{ product.title }}">
            <div class="product-details">
                <div class="product-title">{{ product.title }}</div>
                <div class="product-description">{{ product.description }}</div>
                <div class="product-price">$ {{ product.price }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>